<button
  type="button"
  class="btn-primary"
  style="margin-bottom: .2em;"
  (click)="addNewRecord()"
>
  Add New
</button>
<div class="container grid-striped">
  <div class="row">
    <div class="col-sm-6">
      <h5>Name</h5>
    </div>
    <div class="col-sm-3">
      <h5>Age</h5>
    </div>
    <div class="col-sm-3">
      <h5>Photo</h5>
    </div>
  </div>

  <div class="row" *ngIf="enebleAdd">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control form-input"
            placeholder="First Name"
            [formControl]="newUserForm.controls['FirstName']"
          />
          <div
            *ngIf="
              (newUserForm.controls['SecondName'].hasError('required') &&
                newUserForm.controls['SecondName'].touched) ||
              (newUserForm.controls['FirstName'].hasError('required') &&
                newUserForm.controls['FirstName'].touched)
            "
            class="alert alert-danger"
          >
            Required field.
          </div>
        </div>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control form-input"
            placeholder="Second Name"
            [formControl]="newUserForm.controls['SecondName']"
          />
          <div
            *ngIf="
              (newUserForm.controls['SecondName'].hasError('required') &&
                newUserForm.controls['SecondName'].touched) ||
              (newUserForm.controls['FirstName'].hasError('required') &&
                newUserForm.controls['FirstName'].touched)
            "
            class="alert alert-danger"
          >
            Required field.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <input
        class="form-control form-input"
        type="number"
        placeholder="Age"
        [formControl]="newUserForm.controls['Age']"
      />
      <div
        *ngIf="
          newUserForm.controls['Age'].hasError('required') &&
          newUserForm.controls['Age'].touched
        "
        class="alert alert-danger"
      >
        Required field.
      </div>
    </div>
    <div class="col-sm-3">
      <input
        type="file"
        [formControl]="newUserForm.controls['Photo']"
        (change)="onSelectFile($event)"
      />
    </div>
    <div class="col-sm-12" style="text-align: right;padding: .2em;">
      <button
        type="button"
        style="margin-right: .2em;"
        class="btn btn-primary"
        (click)="onSubmit(newUserForm)"
      >
        Save
      </button>
      <button type="button" class="btn btn-primary" (click)="onCancelClick()">
        Cancel
      </button>
    </div>
  </div>

  <div class="row" *ngFor="let item of userList">
    <div class="col-sm-6">
      {{ item.firstName + " " + item.secondName }}
    </div>
    <div class="col-sm-3">
      {{ item.age }}
    </div>
    <div class="col-sm-3">
      <button
        style="margin:.2em"
        *ngIf="item.photoGuidId !== undefined && item.photoGuidId !== ''"
        (click)="downloadImage(item.photoGuidId, item.imageFileType)"
        class="btn btn-primary"
        type="button"
      >
        Photo
      </button>
    </div>
  </div>
</div>
